<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://warsztat-001-site1.etempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://warsztat-001-site1.etempurl.com:8172/msdeploy.axd?site=warsztat-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>warsztat-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\warsztat-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DB_A1E22F_warsztatEntities1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WarsztatWS.Models.DB_A1E22F_warsztatEntities1, WarsztatWS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DB_A1E22F_warsztatEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sql6001.smarterasp.net;Initial Catalog=DB_A1E22F_warsztat;User ID=DB_A1E22F_warsztat_admin;Password=ZAQ!2wsx;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DB_A1E22F_warsztatEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Warsztat.csdl|res://*/Warsztat.ssdl|res://*/Warsztat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql6001.smarterasp.net;initial catalog=DB_A1E22F_warsztat;user id=DB_A1E22F_warsztat_admin;password=ZAQ!2wsx;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_A1E22F_warsztatEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_A1E22F_warsztatEntities1-Web.config Connection String" />
  </ItemGroup>
</Project>